@charset "UTF-8";

body{
   background-image: linear-gradient(to right,#E8E1AB,#EFEBCF);
    font-family: Arial, Helvetica, sans-serif;
    }

    header{
        min-width: 150px;
        text-align: center;
        padding-top: 100px;
    }

    header > h1{
        color: rgb(85, 216, 10);
        font-size: 3em;
        margin-bottom: 20px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
        ;
    }

    header > p{
        font-size: 1.2em;
        color: rgba(199, 66, 42, 0.767);
        max-width: 700px;
        margin: auto;
    }

    nav{
        background-color: rgba(215, 223, 103, 0.007);
        padding: 10px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
        text-align: center
        
    }

    nav > a{
        color: rgb(74, 136, 83);
        padding: 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: .5s;
    }

    nav > a:hover{
        background-color: rgb(135, 212, 222);
        color:rgb(255, 153, 0) ;
    }
    
    main{
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    main p{
        margin: 15px 0px;
        text-align: justify;
        text-indent: 15px;
        font-size: 1em;
        line-height: 2em;
    }

    main strong{
        color: #202c1e;
        line-height: 2em;
        background-color: #fae2096e;
        padding: 3px 0px ;
 
    }

    main img{
        width: 100%;
        height: auto;

    }
    
    main img.pequena{
        max-width: 350px;
        display: block;
        margin: auto;
        }
        .foto{
            width: 250px;
            height: 150px;

        }
    footer{
        background-color: rgba(238, 235, 44, 0.164);
        color:rgba(165, 120, 23, 0.89);
    }

    footer > p a{
        text-decoration: none;
        color: #42a00c;

    }

    img{
        height: 260;
        width: 215px;
        box-shadow: 5px 5px 15px black;
    }
